* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: border-box;
}

/*Custome properties which gets updates autmatically */

:root {
    --ff-primary: 'Raleway', sans-serif;
    --ff-secondary: 'Raleway', monospace;
    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    --clr-h1: #FFFFFF;
    --clr-navText: #FFFFFF;
    --clr-navShade: #E0E0E0;
    --clr-tagLine: #FFFFCC;
    --clr-button : #112A46;
    --clr-navBar : #112A46;
    --clr-placeholder:#c5c5c5;


    --fs-h1: 2.6rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

@media (min-width: 960px) {
    :root {
        --fs-h1: 2.75rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --hs-body: 1.125rem;
        --lh-font: 1.6
    }
}



html, body {
    width: 100%;
    height: 100%;
    background: var(--clr-light);
    color: var(--clr-dark);
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: var(--lh-font);
    text-align:center;
}

img {
    display: block;
    max-width: 100%;
}

h1, h2, h3 {
    line-height: 1.1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}
form {
    display: inline-block;
}

form label {
    float : left;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color:var(--clr-button);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
  }

  input[type=button],
  input[type=submit]:hover {
    background-color:#091726;
  } 

  input[type=text],input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
  }
   

  form label {
      color: #b3b3b3;
  }

  ::-webkit-input-placeholder { /* Edge */
    color: var(--clr-placeholder);
    font-style: italic;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:var(--clr-placeholder);
  }
  
  ::placeholder {
    color:var(--clr-placeholder);
  }

/* Onclick placeholder text hide */  
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

